
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container1 {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.container{
  
  margin:auto;
  text-align: center;

}

.box-1{
  background-color: #3473b9;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 1024px;
  color:black;
  text-align: center;
  flex-wrap: wrap;
}

.box-2{
  background-color: #EBE7E7;
  display: flex;
  justify-content: space-around;
  width: 100%;
  
  color:black;
  text-align: center;
  flex-wrap: wrap;
}


.logoOnTheLeft {
  margin-left: 14px;
  float: left;
  padding-right: 200px;
}
.navbarHeader{
  float: left;
  overflow: hidden;
  font-size: 20px;
  margin:10px auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display:inline-block;
  color: black;
  text-align: center;
  padding: 4px 20px;
  text-decoration: none;
}

li a:hover:not(.active) {
  border-bottom: 3px solid blue;
}

.active {
    border-bottom: 3px solid black;
}

.videoPlayer{
  border-radius: 3%;
  margin-top: 30px;
  float:left;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 20px solid #CFDBE9;
}

.theWord{
  border-radius: 3%;
  margin-top: 30px;

  display: flex;
  align-items: center;
  background-color: #CFDBE9;
  width: 480px;
  height: 300px;
}

.imageBig{
  display: inline-block;
  margin: 0;
  padding: 0;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
  font-family: Times, Times New Roman;
}
.problemText{
  position: center;
  font-family: Times, Times New Roman;
  font-size: 60px;
}

.probemText2{
  font-family: Times, Times New Roman;
  font-size: 20px;
  background-color: #EBE7E7;
}

.problemText3{
  font-family: Times, Times New Roman;
  font-size: 30px;
  background-color: #EBE7E7;
}
.probIm2{
  padding-top: 30px;
  border-radius: 30%;
}

.probImg3 img{
  border-radius: 3%;
}

.solImg1{
  position: left;
}